<% unless @posts.empty? %>

<% end %>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, author_post_path(post.user, post)%></h2>
  <p>posted at <%= post.created_at.strftime('%d-%m-%y') %></p>
  <p>
  <b>Spot:</b>
  <%= post.spot %>
  </p>
  <p> <%= post.published_at.strftime('%d-%m-%y')%></p>
<% end %>

<br />