<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, author_post_path(post.user, post)%></h2>
  <p>posted at <%= post.created_at.strftime('%D') %></p>
  <p><%= post.rendered_body.html_safe %></p>
  <p> <%= post.published_at.strftime('%D')%></p>
<% end %>

<br />