<h2> Administration</h2>
<%= link_to "All Posts (#{Post.count})", admin_posts_path %> |
<%= link_to "All Users (#{User.count})", admin_users_path %> |
<%= link_to "All Categories (#{Category.count})", admin_categories_path %>
