<div class="panel">
	<h2><%= t "author dashboard"%></h2>
  <div class="panel-content">
  <div class="btn-group">
    <%= link_to (t "general.myposts", :count => current_user.posts.count.to_s), author_myposts_path, :class=> "btn"%>
    <%= link_to (t "new post"), new_author_mypost_path,:class=> "btn" %>
    <%= link_to (t "membership"), user_membership_info_path, :class=> "btn" %>
     </div>
 </div>
</div>