<div class="panel"><%= t "author dashboard"%>
  <div class="panel-content">
    <%= link_to (t "general.myposts", :count => current_user.posts.count.to_s), author_myposts_path%> |
    <%= link_to (t "new post"), new_author_mypost_path %> |
    <%= link_to (t "membership"), user_membership_info_path %>
 </div>
</div>