<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, [:author, post] %></h2>
  <p>posted at <%= post.created_at.strftime('%D') %></p>
  <p><%= post.rendered_body.html_safe %></p>
<% end %>

<br />

<%= link_to 'New Post', new_author_post_path %>
