
<p>
    <b>Comment:</b>
    <%= comment.body %>
</p>

<p>
  <%= button_to 'Destroy Comment', [comment.post, comment],
                :confirm => 'Are you sure?',
                :method => :delete %>
</p>
