
<p>
    <b><%= t "comment"%>:</b>
    <%= comment.body %>
</p>

<p>
  <%= link_to (t "destroy"), author_mypost_comment_path(comment.post_id, comment),confirm: (t "general.Are you sure"),
                :method => :delete %>
</p>
