<p id="notice"><%= notice %></p>

<p>
  <b>Category Name:</b>
  <%= @category.category_name %>
</p>

<%= link_to 'Edit', edit_admin_category_path(@category) %> |
<%= link_to 'Back', admin_categories_path %> 