<div class="articles">
  
  <div class="article">
    <h2>Yeni Hayat Bilişim A.Ş.</h2>
  </div>
  <div class="article">2007 yılında, YeniHayat Yayıncılık Ltd. kurucu ortaklığında, bilişim sektöründe yeni açılımlar geliştirme isteği ve yaklaşımıyla etkinliklerine başladı.</div>
  <div class="article">YHY Ltd. ticari süreçlerini bilişim yoğunluklu olarak yönlendirmeye başlayınca, sadece bilişime odaklanmış bir şirket yapılanmasına gereksinim duyuldu ve bu açılım YHB A.Ş.'nin kurulmasıyla sonuçlandı.</div>
  <div class="article">YHB, internet teknolojilerinde yenilikçi olmayı seçerken, uygulama geliştirme, özelleşmiş gereksinimlerin web ortamına aktarılması, klasik iş süreçlerinin internet ortamında yeniden üretilmesi, içerik modelleme sistemleri geliştirme ve online ticarette geliştirici unsurlar hakkında da bu yenilikçi istemlerini sürdürmeye çalışmaktadır.</div>
  <div class="article">Bir iş geliştirme ortamı olarak internet için, olabildiğince kullanıcı dostu ve sonuca taşıyıcı çözümlere dönük emek harcayan yaratım ekibimiz, kullanılabilir ve erişilebilir sistem ve servisler üretmeyi sürdürmektedir.</div>
  <div class="article">Ülkemizdeki girişimci olanaklarının kısıtlı olmasının da etkisiyle, açık kaynak ve özgür yazılım ürünlerinin kullanımının çeşitli eğitimlerle desteklenmesine enerji harcayan YHB, bu konudaki deneyimlerini sektörün öncü kuruluşlarıyla paylaşmaktadır.</div> 
</div>