<div class="articles about">
 
<div class="article">
      <h2>Yeni Hayat Bilişim A.Ş.</h2>
  <p>YHY Ltd. ticari süreçlerini bilişim yoğunluklu olarak yönlendirmeye başlayınca, sadece bilişime odaklanmış bir şirket yapılanmasına gereksinim duyuldu ve bu açılım YHB A.Ş.'nin kurulmasıyla sonuçlandı.</p>
<p>YHB, internet teknolojilerinde yenilikçi olmayı seçerken, uygulama geliştirme, özelleşmiş gereksinimlerin web ortamına aktarılması, klasik iş süreçlerinin internet ortamında yeniden üretilmesi, içerik modelleme sistemleri geliştirme ve online ticarette geliştirici unsurlar hakkında da bu yenilikçi istemlerini sürdürmeye çalışmaktadır.</p>
<p>Bir iş geliştirme ortamı olarak internet için, olabildiğince kullanıcı dostu ve sonuca taşıyıcı çözümlere dönük emek harcayan yaratım ekibimiz, kullanılabilir ve erişilebilir sistem ve servisler üretmeyi sürdürmektedir.</p>
<p>Ülkemizdeki girişimci olanaklarının kısıtlı olmasının da etkisiyle, açık kaynak ve özgür yazılım ürünlerinin kullanımının çeşitli eğitimlerle desteklenmesine enerji harcayan YHB, bu konudaki deneyimlerini sektörün öncü kuruluşlarıyla paylaşmaktadır.</p>
</div>
</div>