<div class="articles">
  
  <div class="article">
    <h2>Yeni Hayat Bilişim A.Ş.</h2>
    <h3>Adres : </h3>
    <p>Halil Rıfat Paşa Mah.</p>
    <p>Darülaceze Cad.</p>
    <p>Perpa Ticaret Merkezi</p>
    <p>B Blok 12. Kat No: 2093</p>
    <p>34385, Okmeydanı - Şişli / İstanbul<p/>
  </div>
  
  <div class="article">
    <h3>E-Posta :</h3>
    <p>bilgi@yh.com.tr</p>
  </div>
  <div class="article">
    <h3>Telefon :</h3>
    <p>+90 212 210 77 36 (PBX)</p>
  </div>
  <div class="article">
    <h3>Faks :</h3>
    <p>++90 212 210 23 32</p>
    <p>İstanbul: Taksim/ 212 245 66 9390 212 210 77 36 (PBX)</p>
  </div>
  <div class="article">
    <h3>Vergi Bilgileri :</h3>
    <p>Şişli Vergi Dairesi: 948 042 1527</p>
  </div>
  <div class="article">
    <h3>Ticari Sicil Bilgileri :</h3>
    <p>Şİstanbul Ticaret Odası: 637761</p>
  </div>
</div>