/*
 * FIXME: Introduce SCSS & Sprockets
 *= require_self
 *= require ./jquery.autocomplete
 *= require ./highlight
 *= require_tree . 
*/

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton2 a {
	background-image:url(images/italic.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(images/stroke.png);
}

.markItUp .markItUpButton4 a {
	background-image:url(images/picture.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(images/link.png);
}

.markItUp .markItUpButton6 a {
	background-image:url(images/clean.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
}
/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	width:650px;
	margin:20px 0 5px 0;
	border:5px solid #F5F5F5;	
}
.markItUpContainer  {
	border:1px solid #3C769D;	
	background:#FFF url(images/bg-container.png) repeat-x top left;
	padding:5px 5px 2px 5px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	font:14px 'Courier New', Courier, monospace;
	padding:5px 5px 5px 5px;
	border:3px solid #3C769D;
	width:593px;
	height:320px;
	background:#FFF url(images/bg-editor.png) no-repeat;
	clear:both;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	border:1px solid #3C769D;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li ul{
	display:none;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#F5F5F5;
	border:1px solid #3C769D;
	height:inherit;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(images/submenu.png) no-repeat 100% 50%;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3C769D;
}
/***************************************************************************************/
.html .markItUpEditor {
	background-image:url(images/bg-editor-html.png);
}
.markdown .markItUpEditor {
	background-image:url(images/bg-editor-markdown.png);
}
.textile .markItUpEditor {
	background-image:url(images/bg-editor-textile.png);
}
.bbcode .markItUpEditor {
	background-image:url(images/bg-editor-bbcode.png);
}
.wiki .markItUpEditor,
.dotclear .markItUpEditor {
	background-image:url(images/bg-editor-wiki.png);
}
/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markDownEdit .markItUpButton1 a {
	background-image:url(images/h1.png); 
}
.markDownEdit .markItUpButton2 a {
	background-image:url(images/h2.png); 
}
.markDownEdit .markItUpButton3 a {
	background-image:url(images/h3.png); 
}
.markDownEdit .markItUpButton4 a {
	background-image:url(images/h4.png); 
}
.markDownEdit .markItUpButton5 a {
	background-image:url(images/h5.png); 
}
.markDownEdit .markItUpButton6 a {
	background-image:url(images/h6.png); 
}

.markDownEdit .markItUpButton7 a {
	background-image:url(images/bold.png);
}
.markDownEdit .markItUpButton8 a {
	background-image:url(images/italic.png);
}

.markDownEdit .markItUpButton9 a {
	background-image:url(images/list-bullet.png);
}
.markDownEdit .markItUpButton10 a {
	background-image:url(images/list-numeric.png);
}

.markDownEdit .markItUpButton11 a {
	background-image:url(images/picture.png); 
}
.markDownEdit .markItUpButton12 a {
	background-image:url(images/link.png);
}

.markDownEdit .markItUpButton13 a	{
	background-image:url(images/quotes.png);
}
.markDownEdit .markItUpButton14 a	{
	background-image:url(images/code.png);
}

.markDownEdit .preview a {
	background-image:url(images/preview.png);
}



* { margin:0px; padding:0px;}
a { text-decoration:none; color:#3B5998;}
ul, ol { list-style:none;}
body { background:#f7f7f7; font-size:0.8125em; color:#656565; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }

@font-face {
  font-family: 'Lucida Grande';
  src: local('Lucida Grande.eot#') format('eot'),  /* IE6–8 */
       local('Lucida Grande.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       local('Lucida Grande.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

.social {overflow:hidden; float:left;  position:relative; top:25px;}
.social a {opacity:0.7; float:left; display:block; width:16px; height:16px; margin-right:7px; text-indent:-9999em;}
.social a:hover {opacity:1;}

#header { background:#5e5e5e; height:67px;}
.header {width:1000px; margin:0 auto;}
#flashnotice { color:#c2c2c2; margin-top:0px; margin-left:710px; padding-top:38px;}
.main { width:1000px; margin:0 auto; background:#fff;}
.nav { float:right; }
.nav ul {float:left; overflow:hidden; margin-right:16px;}
.nav li a { margin-top:14px; height:40px; line-height:40px; border-right:1px solid #6e6e6e; color:#fff; padding:0 16px; font-size:15px; font-weight:bold; display:block;}
.nav li { height:67px; line-height:67px; float:left;}
.nav li.selected { background:url(images/selected.png) no-repeat center bottom;}
.nav li a:hover { background:#636363;}
.nav li.selected a:hover {background-color:#5e5e5e;}
.nav .selected a { color: #FFFFFF;}

.article .date {
color: #737880;
font-size: 12px;
font-weight: normal;
float:left;
}
.article-content span a {margin-top:10px; display:block; font-size:12px;}
.logo { margin-top:25px; height:18px; float:left;}
.logo a {width:133px; text-indent:-9999em; display:block; color:#fff; font-weight:bold; font-size:1.1em; background:url(images/logo.png) no-repeat; padding-left:50px; height:18px; }

.yield {float:left;width:670px;}
.yield_top {text-indent:-9999em; height:14px;}
.yield_bottom { text-indent:-9999em; height:11px;}
.yield_middle {}
.article {margin-bottom:25px;margin-left:20px;}

.panel {padding-bottom:20px; margin-left:20px; width:660px; padding-top:20px; font-size:20px;}
.panel-content { font-size:12px; line-height:22px; color:#c2c2c2;}
.panel-title { color:#A4A4A4; font-weight:normal; font-size:12px;}

.social .rss { background:url(images/rss.png) no-repeat;}
.social .fb { background:url(images/facebook.png) no-repeat;}
.social .tw { background:url(images/twitter.png) no-repeat;}


h2 {font-size:1.8em;}
h3 {font-size:1.1em;}


.article {border-bottom:1px solid #f3f3f3;padding-bottom:10px;}

#core .article-cdt { overflow:hidden; margin-top:25px; padding-top:10px; }
.article-cdt span {float:right;}
.article-cdt span a {font-size:12px; color:#5e5e5e;}
.article h2 { margin-bottom:5px; font-size:16px;color:#5e5e5e; margin-top:1px;}
.article-title a:hover {color:#b0382f;}
.article-cdt .tag {margin-right:20px;}
.article-cdt .tag a {color:#b0382f; font-size:12px;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;

}


.article_cat a {
float:left;
background-color: #F7F7F9;
border: 1px solid #E1E1E8;
border-radius: 2px 2px 2px 2px;
padding:4px 8px;
margin-right:15px;
}

.article-title .article_cat a {font-size:13px;}
.article-title h2 a {font-size:21px;}


.article-cdt .cat a {color:#737880; font-size:13px; font-weight:bold;}
.article-cdt .date { position:relative; top:1px;background:url(images/hour.png) no-repeat left center; padding-left:20px; margin-right:20px; color:#737880; font-size:12px;}
.article-cdt div {float:left; }
.article-cdt .author { position:relative; top:1px;background:url(images/user.png) no-repeat left center; padding-left:20px;color:#737880; font-size:12px; font-weight:bold;}
.article-cdt .author a { color:#5e5e5e; font-size:12px; font-weight:normal; }
.article-title { clear:both; margin-top:15px; overflow:hidden;}
.article-title a {color:#5e5e5e; font-weight:bold; font-size:19px;}
.article-content { clear:both; margin-top:20px;font-size:14px; line-height:23px; color:#5E5E5E; margin-bottom:10px}

.article-cdt .tag {background:url(images/tag.png) no-repeat left center; padding-left:20px;}
.article-cdt .tag ul li {float:left; margin-right:5px;}
.article-cdt .tag ul li:after {content:",";}
.article-cdt .tag ul li:last-child:after {content:" "}


.article-adv {color:#9dd6f4; overflow:hidden; margin:0 10px; padding:10px 0 0 0 !important; }
.article-adv span:first-child { float:left;}
.article-adv span:last-child { float:right;}
.article-adv a { float:left;font-weight:bold; color:#737880; font-size:12px;}
.article-adv a:hover { color:#000;}
.article-adv .au { font-size:12px; font-weight:normal;padding-left:7px; margin-left:7px; }
 .article-cdt a:hover {color:#000;}
.article-cdt .pagination span {float:none;}

.last .article-adv {border-bottom:none;}
#disqus_thread {padding:10px; margin:20px; background:#f3f3f3;
-webkit-border-radius:4px;
-moz-border-radius:4px;
  border-radius:4px;
}
#dsq-content h3 {color:#737880;}
.dsq-trackback-url {color:#737880;}
.dsq-brlink {margin-left:20px;}
.sidebar {width:270px;margin:20px 20px; padding-left:19px; border-left:1px solid #F3F3F3; float:right;}
.sidebar_top { text-indent:-9999em; height:13px;}
.sidebar_bottom { text-indent:-9999em; height:13px;}


.search { padding-bottom:25px;  overflow:hidden; border-bottom:1px solid #f3f3f3;}

.sidebar h3 {margin:15px 0; color:#b0382f; }
.search h3 {margin-top:0;}
.search .f {width:208px; color:#fff; float:left;background:#f7f7f7 url(images/search_i.png) no-repeat 5% 50%; padding:10px 30px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
border:1px solid #cecece;
box-shadow:inset 0 1px 1px #ebebeb;  
}
.search .f {color:#5e5e5e;}

.topic_categories {padding-bottom:25px;overflow:hidden;border-bottom:1px solid #f3f3f3;}
.topic_categories li {list-style:none; color:#c2c2c2; font-size:12px;}
.topic_categories li a {
float:left;
color: #5E5E5E;

margin-bottom:5px;
font-size:12px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;

padding:4px 8px;
margin-right:5px;
      background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
}
.topic_categories li a:hover {color:#B0382F;}
.topic_categories li span { font-weight:normal; color:#696969; font-size:12px;}


.most_read { padding-bottom:25px;  overflow:hidden;border-bottom:1px solid #f3f3f3;}
.most_read li {margin-bottom:10px; }
.most_read li a {background:url(images/arrow.png) no-repeat 0 2px; display:block; padding-left:20px; color:#5e5e5e;font-size:12px;}
.most_read li a:hover {color:#B0382F;}
.most_read li span { font-weight:normal; color:#696969; font-size:12px;}



.tags ul li:after {content:",";}
.tags ul li:last-child:after {content:" "}
.tags {padding-bottom:15px; overflow:hidden; border-bottom:1px solid #f3f3f3;}

.tags li {float:left; margin-right:10px; margin-bottom:5px;}
.tags li a {background:url(images/tag.png) no-repeat left center; padding-left:20px;
 font-size:12px;
-webkit-border-radius:2px;
-moz-border-radius:2px;
float:left;
border-radius:2px;

color:#5e5e5e;
}
.tags li a:hover {color:#B0382F;}

.yield_middle > h3 {margin:20px 0 20px 20px; color:#5e5e5e;}

.last_authors { padding-bottom:15px; overflow:hidden; }
.last_authors li { clear:both;}
.last_authors .avatar { margin-bottom:15px; float:left; width:43px; height:43px;}
.last_authors .avatar img { width:43px; height:43px;}
.last_authors .name a {color:#5e5e5e; font-weight:bold; font-size:12px; margin-left:10px;}
.last_authors .all  {display:block; font-size:11px; font-weight:normal; position:relative; left:10px; margin-top:4px; color:#9e9e9e;}
.last_authors .all:hover { text-decoration:underline;}

.footer {height:40px; clear:both; font-size:11px; background:#F7F7F7;}
.footer p { color:#515151; line-height:40px;}

.about .article {padding:10px; width:640px;}
.about .article p {color:#5e5e5e; margin-bottom:10px;}
.about h3 {color:#0088CC; margin-bottom:5px;}

.panel h3 {color:#1db0f3;}
.panel-content label {width:150px; float:left; position:relative; top:1px;}
.panel-content {padding:5px 0;}
.panel-content input {background:#404040; padding:5px; color:#fff; border:1px solid #292929;}
.sbmt input {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
   background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   background-color: #006DCC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;

}
.sbmt input:active {
  background: -moz-linear-gradient(center top , #0044cc 0%, #0088cc 100%) repeat scroll 0 0 transparent;
   background: -webkit-linear-gradient(center top , #0044cc 0%, #0088cc 100%) repeat scroll 0 0 transparent;
    border: 1px solid #007DCE;
    box-shadow: 0 5px 5px #00426C inset;

}


.pgnt {margin-left:20px;}
.pgnt span a {
color:#5E5E5E;
  font-size:12px;
  font-weight:bold;
}
.pgnt span {background: none repeat scroll 0 0 #F3F3F3;
border-radius: 2px 2px 2px 2px;
color:#c8c8c8;
float: left;
margin-right: 5px;
padding: 4px 8px;}

.about .article h2 {float:none;}
.about .article {width:auto;padding:0; margin-top:15px;}

.admlinks li {float:left;}
.admlinks li a {float:left;}
.admlinks {list-style:none;margin-left:20px; position:relative; top:-15px;}
.admlinks li {margin-right:10px;}

.article-comment {
   display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding:0 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em; 
}