/*
 * FIXME: Introduce SCSS & Sprockets
 *= require_self
 *= require ./jquery.autocomplete
 *= require ./highlight
 *= require_tree . 
*/

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton2 a {
	background-image:url(images/italic.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(images/stroke.png);
}

.markItUp .markItUpButton4 a {
	background-image:url(images/picture.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(images/link.png);
}

.markItUp .markItUpButton6 a {
	background-image:url(images/clean.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
}
/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	width:650px;
	margin:20px 0 5px 0;
	border:5px solid #F5F5F5;	
}
.markItUpContainer  {
	border:1px solid #3C769D;	
	background:#FFF url(images/bg-container.png) repeat-x top left;
	padding:5px 5px 2px 5px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	font:14px 'Courier New', Courier, monospace;
	padding:5px 5px 5px 5px;
	border:3px solid #3C769D;
	width:593px;
	height:320px;
	background:#FFF url(images/bg-editor.png) no-repeat;
	clear:both;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	border:1px solid #3C769D;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li ul{
	display:none;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#F5F5F5;
	border:1px solid #3C769D;
	height:inherit;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(images/submenu.png) no-repeat 100% 50%;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3C769D;
}
/***************************************************************************************/
.html .markItUpEditor {
	background-image:url(images/bg-editor-html.png);
}
.markdown .markItUpEditor {
	background-image:url(images/bg-editor-markdown.png);
}
.textile .markItUpEditor {
	background-image:url(images/bg-editor-textile.png);
}
.bbcode .markItUpEditor {
	background-image:url(images/bg-editor-bbcode.png);
}
.wiki .markItUpEditor,
.dotclear .markItUpEditor {
	background-image:url(images/bg-editor-wiki.png);
}
/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markDownEdit .markItUpButton1 a {
	background-image:url(images/h1.png); 
}
.markDownEdit .markItUpButton2 a {
	background-image:url(images/h2.png); 
}
.markDownEdit .markItUpButton3 a {
	background-image:url(images/h3.png); 
}
.markDownEdit .markItUpButton4 a {
	background-image:url(images/h4.png); 
}
.markDownEdit .markItUpButton5 a {
	background-image:url(images/h5.png); 
}
.markDownEdit .markItUpButton6 a {
	background-image:url(images/h6.png); 
}

.markDownEdit .markItUpButton7 a {
	background-image:url(images/bold.png);
}
.markDownEdit .markItUpButton8 a {
	background-image:url(images/italic.png);
}

.markDownEdit .markItUpButton9 a {
	background-image:url(images/list-bullet.png);
}
.markDownEdit .markItUpButton10 a {
	background-image:url(images/list-numeric.png);
}

.markDownEdit .markItUpButton11 a {
	background-image:url(images/picture.png); 
}
.markDownEdit .markItUpButton12 a {
	background-image:url(images/link.png);
}

.markDownEdit .markItUpButton13 a	{
	background-image:url(images/quotes.png);
}
.markDownEdit .markItUpButton14 a	{
	background-image:url(images/code.png);
}

.markDownEdit .preview a {
	background-image:url(images/preview.png);
}



* { margin:0px; padding:0px;}
a { text-decoration:none;}
ul, ol { list-style:none;}
body { background:#161616 url(images/bodybg.png) repeat left top; font-size:0.8125em; color:#656565; font-family:"Lucida Grande", arial, sans-serif }

@font-face {
  font-family: 'Lucida Grande';
  src: local('Lucida Grande.eot#') format('eot'),  /* IE6–8 */
       local('Lucida Grande.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       local('Lucida Grande.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

.social {overflow:hidden; float:right; position:relative; top:70px;}
.social a { float:left; display:block; width:32px; height:32px; margin-right:10px; text-indent:-9999em;}


#header { height:66px;}
.main { width:1002px; margin:0 auto;}
.nav { float:left; margin-top:26px; margin-left:20px;}
.nav li a {  padding:0 15px; color:#ede7db; font-size:13px; font-weight:bold; display:block;}
.nav li { height:40px; line-height:40px; float:left;}
.nav .selected {background:#000;  border:1px solid #000; border-bottom:none;  -moz-border-radius:6px 6px 0 0; }
.nav .selected a { color:#FB292D; -moz-border-radius:6px 6px 0 0; top:1px; border:1px solid #303030;
background-image: -o-linear-gradient(top, #000, #242424);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.60, #000), color-stop(1, #242424));
background-image: -moz-linear-gradient(center bottom , #000 60%, #242424 100%);}
.nav .selected a:hover {color:#FB292D;}
.nav li a:hover {color:#a1a1a1;}

.logo { margin-top:15px; height:36px; float:left;}
.logo a {width:258px; text-indent:-9999em; display:block; color:#fff; font-weight:bold; font-size:1.1em; background:url(images/logo.png) no-repeat; padding-left:50px; height:36px; line-height:36px;}

.yield {float:left;width:702px; position:relative; z-index:3;}
.yield_top {background:url(images/yield_top.png) no-repeat; text-indent:-9999em; height:14px;}
.yield_bottom {background:url(images/yield_bottom.png) no-repeat; text-indent:-9999em; height:11px;}
.yield_middle {background:url(images/yield_middle.png) repeat-y;}
.article {padding-bottom:20px; margin-left:20px; width:660px; padding-top:20px;}

.panel {padding-bottom:20px; margin-left:20px; width:660px; padding-top:20px; font-size:20px;}
.panel-content { font-size:12px; line-height:22px; color:#c2c2c2;}
.panel-title { color:#A4A4A4; font-weight:none; font-size:12px;}

.social .rss { background:url(images/rss.png) no-repeat;}
.social .fb { background:url(images/facebook.png) no-repeat;}
.social .tw { background:url(images/twitter.png) no-repeat;}


h2 {font-size:1.8em;}
h3 {font-size:1.1em;}


.article-cdt { overflow:hidden; margin-bottom:5px;}
.article h2 {margin-bottom:15px;}
.article-title a:hover { background:#1f1f1f; border-bottom:1px solid #232323;}
.article-cdt .tag {}
.article-cdt .tag a {color:#9dd6f4; font-size:12px;}
.article-cdt .tag a:hover { text-decoration:underline;}
.article-cdt .cat a {color:#9dd6f4; font-size:13px; font-weight:bold;}
.article-cdt .date { color:#545454; font-size:12px; margin:2px 5px 0 5px;}
.article-cdt div {float:left; background:url(images/sep.png) right no-repeat; padding-right:6px;}
.article-cdt .author {margin-left:5px; background:none; color:#9dd6f4; font-size:12px; font-weight:bold;}
.article-cdt .author a {margin-left:4px; color:#9dd6f4; font-size:12px; font-weight:normal;}
.article-title { clear:both;}
.article-title a {color:#fff; font-weight:normal;}
.article-content { font-size:15px; line-height:22px; color:#c2c2c2;}

.article-adv {color:#9dd6f4; overflow:hidden; margin-top:25px; padding-bottom:8px; border-bottom:1px solid #1f1f1f;}
.article-adv span:first-child { float:left;}
.article-adv span:last-child { float:right;}
.article-adv a { float:left;font-weight:bold; color:#9dd6f4; font-size:12px;}
.article-adv a:hover { color:#30547f;}
.article-adv .au { font-size:12px; font-weight:normal; border-left:1px solid #5D7FA6; padding-left:7px; margin-left:7px; margin-top:1px;}


.last .article-adv {border-bottom:none;}


.sidebar { width:300px; margin-top:40px; float:right; position:relative; z-index:2;}
.sidebar_top {background:url(images/sidebar_top.png) no-repeat; text-indent:-9999em; height:13px;}
.sidebar_bottom {background:url(images/sidebar_bottom.png) no-repeat; text-indent:-9999em; height:13px;}
.sidebar_middle {background:url(images/sidebar_middle.png) repeat-y;}


.search {margin:0 20px; padding-bottom:15px; border-bottom:1px solid #2a2a2a; overflow:hidden;}
.sidebar h3 {margin:15px 0; color:#fb292d; text-shadow:0 1px 0 #000;}
.search .f { width:205px; float:left; border:none; background:#404040; padding:4px 0;}
.search .b { width:55px; float:left; font-weight:normal; background:#292929; border-top:1px solid #575757; border-right:1px solid #575757; border-bottom:1px solid #1a1a1a; border-left:1px solid #1a1a1a; color:#fff; padding:3px 0; cursor:pointer; font-size:12px;	}
.search .b:active {background:#191919;}

.topic_categories {margin:0 20px; padding-bottom:15px; border-bottom:1px solid #2a2a2a; overflow:hidden;}
.topic_categories li {margin-bottom:5px; list-style:disc inside; padding-left:1px; color:#c2c2c2; font-size:12px;}
.topic_categories li a { padding-left:5px; color:#c2c2c2; font-weight:bold; font-size:13px;}
.topic_categories li a:hover { text-decoration:underline;}
.topic_categories li span { font-weight:normal; color:#696969; font-size:12px;}


.most_read {margin:0 20px; padding-bottom:15px; border-bottom:1px solid #2a2a2a; overflow:hidden;}
.most_read li {margin-bottom:5px; list-style:disc outside; position:relative; left:15px; color:#c2c2c2; font-size:12px;}
.most_read li a { color:#c2c2c2; font-size:13px;}
.most_read li a:hover { text-decoration:underline;}
.most_read li span { font-weight:normal; color:#696969; font-size:12px;}


.tags {margin:0 20px; padding-bottom:15px; border-bottom:1px solid #2a2a2a; overflow:hidden;}
.tags li span {display:block; padding:2px 8px;}
.tags li {margin-bottom:5px; margin-right:3px; float:left; background:#292929; border-top:1px solid #575757; border-right:1px solid #575757; border-bottom:1px solid #1a1a1a; border-left:1px solid #1a1a1a; }
.tags li a {color:#fff; font-size:12px; }
.tags li:hover {background:#191919;}


.last_authors {margin:0 20px; padding-bottom:15px; overflow:hidden;}
.last_authors li { clear:both;}
.last_authors .avatar { margin-bottom:15px; float:left; background:url(images/avatar.png) no-repeat; width:43px; height:43px;}
.last_authors .avatar img { padding:4px 0 0 4px;}
.last_authors .name a {color:#c2c2c2; font-weight:bold; font-size:13px; margin-left:10px;}
.last_authors .all  {display:block; font-size:11px; font-weight:bold; position:relative; left:10px; margin-top:4px; color:#696969;}
.last_authors .all:hover { text-decoration:underline;}

.footer {height:40px; clear:both; font-size:11px;}
.footer p { margin-left:10px; color:#515151; line-height:40px;}