<h1><%= t "general.new user"%></h1>  
  
<%= form_for [:admin, @user] do |f| %>  
  <% if @user.errors.any? %>  
    <div class="error_messages">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @user.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>  
  <%= render 'form' %>
<% end %>  
