<script type="text/javascript" >
   $(document).ready(function() {
      $("#markItUp_spot").markItUp(htmlSettings);
   });
</script>
<%= form_for([@post, @post.comments.build]) do |f| %>

  <div class="field">
    <div class="field"><%= f.text_area :body, :id => "markItUp_spot" %></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>