<script type="text/javascript" >
   $(document).ready(function() {
      $("#markItUp").markItUp(markDownSettings);
   });
</script>
<%= form_for([@post, @post.comments.build]) do |f| %>

  <div class="field">
    <div class="markDownEdit"><%= f.text_area :body, :id => "markItUp" %></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>