
<% @posts.each do |post| %>
  <h2><%= link_to post.title, author_post_path(post.user, post)%></h2>
  <p>posted at <%= post.created_at.strftime('%d-%m-%y') %></p>
  <p>
  <%= post.spot.html_safe %>
  </p>
  
<% end %>

<br />